@media (max-width: 767px){
	.banner-area .col-lg-4, .banner-area-2 .col-lg-4 {
		margin-bottom: 20px;
	}
	.subscribe-title form {
	  width: 100%;
	  margin-top: 30px;
	}
	.subscribe-title input {
	  padding: 0 19px 0 15px;
	}
	.subscribe-title button {
	  padding: 0 15px;
	}
	.subscribe-title h3 {
	  letter-spacing: 1px;
	}
	.subscribe-area {
	  padding: 60px 0;
	}
	.subscribe-title p {
	  display: none;
	}
	
	.single-brand {
	  text-align: center;
	}
	.brandCaeroselNavigation {
		display:none;
	}
}
